*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.card {
    background-color: $Dark-Blue;
    max-width: 360px;
    border-radius: 1rem;
    padding: 1.5rem;
    h1 {
        font-size: 1.6em;
        color: $White;
        margin-top: 1rem;
    }
    p {
        color: $Light-Grey;
        font-size: .95em;
        line-height: 1.4rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}
// card
.component-1{
    .logo{
        background-color: $Medium-Grey;
        padding: 1rem;
        border-radius: 50%;
    }
    .rating-scores{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        .rate-btn{
            display: grid;
            place-items: center;
            cursor: pointer;
            padding-top: .2rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            border: none;
            background-color: $Medium-Grey;
            color: $Light-Grey;
            &:hover{
                background-color: $Orange;
                color: $White;
            }
            &:focus,
            &:active{
                background-color: $Light-Grey;
                color: $White;
            }
        }
    }

}
    
.submit-rating{
    width: 100%;
    cursor: pointer;
    background-color: $Orange;
    border: none;
    color: $White;
    padding: 1rem;
    border-radius: 100vmax;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-top: 1.5rem;
    &:hover{
        background-color: $White;
        color: $Orange;
    }
}

.component-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    img {
        margin: 1rem auto;
    }
    .result > p{
        background-color: $Medium-Grey;
        color: $Orange;
        padding: .4rem .7rem;
        border-radius: 100vmax;
        width: fit-content;
        margin: 1rem auto 0 auto;
    }
} //component-2
       
.hide {
    display: none;
}
        
        
    
