// primary colors 
$Orange: hsl(25, 97%, 53%);

// Neutral colors
$White: hsl(0, 0%, 100%);
$Light-Grey: hsl(217, 12%, 63%);
$Medium-Grey: rgb(38, 47, 55);
$Dark-Blue: rgb(27, 33, 42);
$Very-Dark-Blue: hsl(216, 12%, 8%);